.gitbook-link {
    display: none !important;
}

.page-inner [href^="http://"]:not(.md-icon)::after,
.page-inner [href^="https://"]:not(.md-icon)::after {
    content: "\f08e";
    font-family: FontAwesome;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    padding-left: 5px;
    line-height: 10px;
}
